@media all and (max-width:1200px){
    .top-wrapper h1{
        font-size: 35px;
    }
    .top-wrapper h2{
        font-size: 25px;
    }
    .show-card h2{
        font-size: 25px;
    }
    .show-card p{
        font-size: 15px;
    }
    .show-card .Schedule{
        font-size: 20px;
    }
}


@media all and (max-width: 1000px){
    .menu-icon{
        display:inline-block !important;
      }
    header .menu a{
        display: none;
    }

    .top-wrapper h1{
        text-align: left;
        line-height: 50px;
        font-size: 23px;
        letter-spacing: 3px;
    }

    .top-wrapper h2{
        text-align: left;
        font-size: 15px;
    }

    .top-wrapper p{
        text-align: left;
        font-size: 14px;
    }

    .btn{
        width: 100%;
        display: block;
        margin-top: 80px;
    }

    .show-card h2{
        font-size: 25px;
    }
    .show-card p{
        font-size: 15px;
    }
    .show-card .Schedule{
        font-size: 20px;
    }

    .show-card{
        flex-direction: column;
        flex:none;
    }

    .show-card img{
        width: 95%;
        box-shadow: 3px 2px 2px rgba(56, 57, 64 ,0.7);
        margin-right: 15px;
        margin-left: 15px;
    }
    .show-desc{
        width: 100%;
    }
    .activities{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        flex: none;
    }
    .activity{
        width: 80%;
        margin: 20px auto;
    }
    .activity-desc p{
        font-size: 20px;
    }
}