@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mate&family=Pacifico&family=Source+Serif+Pro:wght@200;300&display=swap');

:root{
    --logo_font : 'Pacifico',cursive;
    --header_font : 'Dancing Script',cursive;
    --text_font : 'Source Serif Pro', serif;
    --mate_font : 'Mate',serif;
    --yellow : #faf146
     
}

* {
  box-sizing: border-box;
  
}


html,body{
    min-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px !important;
    overflow-x: hidden; 
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
/* container */
.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */
header{
    background-color: rgba(56, 57, 64 ,0.8);
    width:100%;
    height: 70px;
    color: var(--yellow);
    position: fixed;
    border-bottom: 2px var(--yellow) solid;
    z-index: 100;
}

header .logo{
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
    line-height: 70px;
    float: left;
    margin-left: 10px;
    display: inline-block;
    z-index: 101;
    font-family: var(--logo_font);
}
header .menu{
    float: right;
}

header .menu a{
    color: whitesmoke;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 5px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    font-family: var(--header_font);
    transition: all .2s;
}


header .menu a:hover{
    background-color: var(--yellow);
    color: gray;
    font-weight: bold;
}

.menu-icon{
    float: right;
    color: var(--yellow);
    font-size: 25px;
    padding: 25px;
    display: none!important;
    height: 100%;
    background: none;
}

/* content */
.top-wrapper{
    background-image: linear-gradient(rgba(56, 57, 64 ,0.7),rgba(56, 57, 64 ,0.6),rgba(203, 221, 152, 0.5)),url(./img/cover.jpg);
    /* height: 700px; */
    padding: 300px 0 100px 0;
    max-height: 800px;
    background-size: cover;
    text-align: center;
}

.top-wrapper h1{
    color: var(--yellow);
    letter-spacing: 5px;
    border-bottom: 1px var(--yellow) solid;
    font-family: var(--mate_font);
    line-height: 70px;
    font-size: 40px;
}

.top-wrapper h2{
    color: whitesmoke;
    letter-spacing: 2px;
    font-family: var(--header_font);
    padding: 20px 0px;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 15px;
}
.top-wrapper p{
    color: whitesmoke;
    font-size: 20px;
    line-height: 25px;
    font-family: var(--text_font);
    font-weight: bold;
}

.top-wrapper .Bali{
    color: var(--yellow);
}
.btn{
    padding: 20px 30px;
    display: inline-block;
    border-radius: 10px;
    /* margin-top: 200px; */
}
.get-ticket{
    color: var(--yellow);
    background-color: rgb(29, 29, 31);
    font-family: var(--header_font);
    font-weight: bold;
    box-shadow: 0 5px var(--yellow);
    margin-top: 45px;
    position: relative;
    animation: MoveUpDown 1.5s linear infinite;
} 

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 20px;
    }
  }

.get-ticket:active {
    position: relative;
    top: 5px;
    box-shadow: none;
  }
.top-wrapper a{
    text-decoration: none;
    font-size: 20px;
}

.show-wrapper{
    padding: 100px 0 50px 0px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.show-header{
    margin-left: 20px;
    border-bottom: 2px var(--yellow) outset;
    font-family: var(--header_font);
    letter-spacing: 2px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 35px;
}

.shows{
    display: inline-block;
}


.show-card{
    width: 90%;
    display: flex;
    background-color: white;
    /* height: 350px; */
    border-radius: 15px;
    margin: 20px auto;
    box-shadow: 10px 5px 5px 5px rgba(56, 57, 64 ,0.5);
    transition: transform .2s;
}
.show-card:hover{
    transform: scale(1.05);
}

.show-card img{
    height: 95%;
    width: 50%;
    margin: 10px ;
    border-radius: 10px;
    box-shadow: 3px 2px 2px rgba(56, 57, 64 ,0.8);
}

.show-content img.left{
    float: left;
}

.show-content img.right{
    float: right;
}

.show-content{
    flex: auto;
}

.show-desc{
    text-align: justify;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.show-desc h2{
    font-size: 30px;
    margin-bottom: 5px;
    padding-bottom: 1px;
    border-bottom: 2px double var(--yellow);
    font-family: var(--header_font);
}

.show-desc p{
    margin: 10px 0px;
    font-family: var(--text_font);
    font-weight: bold;
    font-size: 20px;
}

.show-desc .Schedule{
    margin-top: auto;
    font-family: var(--mate_font);
    font-weight: bolder;
    font-size: 25px;
}


.activity-wrapper{
    padding: 100px 0px 50px 0px;
    background-color: rgba(56, 57, 64);
    border-top: 4px solid var(--yellow);
    text-align: center;
}

.activity-header{
    text-align: left;
    margin: 0px 15px 20px 15px;
    color: var(--yellow);
    font-family: var(--yellow);
    font-size: 35px;
    font-family: var(--header_font);
    position: relative;
}
.activity-header::after{
    content: "";
    height: 0.18rem;
    background-color: white;
    width: 75%;
    position: absolute;
    left: 250px;
    top: 20px;
}

.activities{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.activity{
    flex:auto;
    width: 20%;
    background-color: white;
    height: 550px;
    margin: 5px;
    border-radius: 15px;
}

.activity-item{
    display: flex;
    flex-direction: column;
}
.activity-icon{
    width:100%;
    height:250px;
    /* padding: 10px 15px; */
    margin: 0 auto;
    position: relative;
    transition: transform .2s;
    border-bottom: 5px solid var(--yellow);
    border-radius: 15px;
}

.activity-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.activity-icon .activity-title{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(56, 57, 64 ,0.8);
    border-radius: 15px;
}
.activity-icon .activity-title p{
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
    text-align: center;
    /* display: none; */
    font-size: 20px;
    font-family: var(--text_font);
    color: var(--yellow);
    font-weight: bold;
}



.activity-icon:hover{
    transform:scale(1.05);
}

.activity-icon:hover .activity-title{
    opacity: 0.75;
}

.activity-desc{
    width: 80%;
    text-align: justify;
    margin: 5px auto;
}

.activity-desc p{
    font-family: var(--mate_font);
    font-size: 15px;
    margin-bottom: 15px;
}


.clear{
    clear: auto;
}
/* footer */
.fa{
    margin: 0 10px;
}

